<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="testing some html ideas">
  <title>learn-angular-one</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="./js/modules/myApp.js"></script>
  <script type="text/javascript" src="./js/modules/stationDetails.js"></script>
  <script type="text/javascript" src="./js/modules/stationCounts.js"></script>
  <script type="text/javascript" src="./js/controllers/thinController.js"></script>
  <!--use for browser shortcut-->
  <link rel="shortcut icon" href="./images/favicon-bar-chart-o.ico">
  <!-- CSS-->
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <link href="css/table.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div ng-controller="thinController" class="container">
    <div class="div"></div>
      <div>
        <table>
          <thead>
            <tr>
              <td>Fuel Type</td>
              <td>Count</td>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="(key, value) in fuels">
              <td>{{key}}</td>
              <td>{{value.total}}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="divider"></div>
        <div class="card-panel  indigo darken-1, col s2 m6 l3">
          <table class="striped, responsive-table, highlight">
            <thead>
              <tr>
                <td>City</td>
                <td>State</td>
                <td>Stations</td>
              </tr>
            <thead>
            <tbody>
              <tr ng-repeat="station in stations|orderBy:['state','city']">
                <td>{{station.city}}</td>
                <td>{{station.state}}</td>
                <td>{{station.city.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="divider"></div>
      <div class="section">
        <div class="divider"></div>
          <div class="card-panel  indigo darken-1, col s2 m6 l3">
            <table class="striped, responsive-table, highlight">
              <thead>
                <tr>
                  <td>City</td>
                  <td>State</td>
                  <td>Station</td>
                  <td>Zip</td>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="station in stations|orderBy:['state','city']">
                  <td>{{station.city}}</td>
                  <td>{{station.state}}</td>
                  <td>{{station.station_name}}</td>
                  <td>{{station.zip}} - {{station.plus4}}</td>
                </tr>
              </tbody>
            </table>
          </div>
   </div>
 </div>
</body>
</html>
