<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="testing some html ideas">
  <title>learn-angular-one</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="./js/angular.js"></script>
  <script type="text/javascript" src="./js/controllers/main.js"></script>
  <script type="text/javascript" src="./js/controllers/data.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--use for browser shortcut-->
  <link rel="shortcut icon" href="./images/favicon-bar-chart-o.ico">
  <!-- CSS-->
  <link href="./css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div ng-controller="mainController">
     <h1>
        <i class="material-icons" style="font-size:80px">whatshot</i>
          I expect a data bound message here:
        <br>
        <div class="offset-m3">{{message}}</div>
     </h1>
     <div class="divider"></div>
     <div class="section">
       <h3>
         <i class="material-icons" style="font-size:40px">description</i> Input something in the input box below.
       </h3>
       <div ng-init="firstName='your name here'">
         <input type="text"  ng-model="firstName">
         <div>And see
           <span ng-bind="firstName"></span>
         </div>
       </div>
     </div>
     <div class="divider"></div>
  </div>
  <div ng-controller="dataController" class="container">
    <div class="divider"></div>
      <div class="card-panel  indigo darken-1, col s2 m6 l3">
        <table class="striped, responsive-table, highlight">
          <thead>
            <tr>
              <td>Fuel Type</td>
              <td>Count</td>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="(key, value) in fuels">
              <td>{{key}}</td>
              <td>{{value.total}}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="divider"></div>
        <div class="card-panel  indigo darken-1, col s2 m6 l3">
          <table class="striped, responsive-table, highlight">
            <thead>
              <tr>
                <td>City</td>
                <td>State</td>
                <td>Stations</td>
              </tr>
            <thead>
            <tbody>
              <tr ng-repeat="station in stations|orderBy:['state','city']">
                <td>{{station.city}}</td>
                <td>{{station.state}}</td>
                <td>{{station.city.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="divider"></div>
      <div class="section">
        <div class="divider"></div>
          <div class="card-panel  indigo darken-1, col s2 m6 l3">
            <table class="striped, responsive-table, highlight">
              <thead>
                <tr>
                  <td>City</td>
                  <td>State</td>
                  <td>Station</td>
                  <td>Zip</td>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="station in stations|orderBy:['state','city']">
                  <td>{{station.city}}</td>
                  <td>{{station.state}}</td>
                  <td>{{station.station_name}}</td>
                  <td>{{station.zip}} - {{station.plus4}}</td>
                </tr>
              </tbody>
            </table>
          </div>
   </div>
 </div>
</body>
</html>
